.box {
  display: flex;
  flex-direction: column;
}
.btn {
  text-align: center;
  width: 100px;
  margin: 20px auto;
}
.box_img {
  width: 50vw;
  height: 80vh;
  display: block;
  margin: 10px auto;
}
